.productsContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
  font-size: 20px;
}

.btnFilter {
  background-color: var(--color-red);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
}

.btnFilter:hover {
  transition: all ease-in-out 0.3s;
  background-color: #8b0000;
}

.productsArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 25px;
  max-width: var(--max-width);
}

.productsCard {
  color: var(--color-white);
}

.btnBuy {
  position: relative;
  top: 1rem;
  padding: 10px;
  background-color: var(--color-red);
  border-radius: 10px;
}

.btnBuy:hover {
  transition: all ease-in-out 0.3s;
  background-color: #8b0000;
}

