:root {
    --color-white: #fff;
    --color-black: #000;
    --cor-background: #17161e;
    --color-red: #ff0000;
    --max-width: 1280px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
    font-family: "Poppins", sans-serif;
}
 
a {
    text-decoration: none;
    color: var(--color-white);
}

li {
    list-style: none;
}